
/* ************************************** */
/* -------TABLE OF CONTENT--------------- */
/* ************************************** */
/* 1. GLOBAL CSS                          */
/* 2. HEADER                              */
/* 3. NAVBAR                              */
/* 4. SECTION ONE                         */
/* 5. SECTION TWO                         */
/* 6. SECTION THREE                       */
/* 7. SECTION FOUR                        */

/*******************/
/* GLOBAL CSS      */
/*******************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --crl-primary: #d5d2d9;
  --crl-dark: #2d3859;
  --clr-light: #fdfdff;
  --clr-shadow: #f26938;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

body,
h1,
h2,
h3,
h4,
p {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  line-height: 1;
}

.container {
  max-width: 100%;
  margin: auto;
}

a:hover,
a:active {
  text-decoration: none;
}

.btn-link:focus,
btn-link:hover,
btn-link:active,
btn-link.focus {
  text-decoration: none;
  color: var(--clr-shadow);
}

.row {
  margin: 0;
}
/**********/
/* HEADER */
/**********/
.head {
  background-image: url(../img/Tranquility.jpg);
  background-size: cover;
  text-align: center;
  color: var(--crl-primary);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__title {
  display: inline-block;
  font-weight: var(--fw-bold);
  font-size: 3rem;
  position: relative;
  /* padding: 0.5rem;
  padding-top: 30%; */
  line-height: 100%;
}

.head__title::after {
  content: "";
  position: absolute;
  background: var(--clr-shadow);
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.head__subtitle {
  font-weight: var(--fw-normal);
  font-style: italic;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* NAVBAR */

/* .navbar {
  position: relative;
  color: var(--crl-dark);
}

.navbar-toggler-icon {
  color: var(--crl-dark);
} */

.sticky-top {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  background-color: transparent;
}

/* SECTION ONE */
.secOne {
  position: relative;
  margin: 0;
  color: var(--crl-dark);
  background-color: var(--clr-light);
}

.secOne_img {
  width: 70%;
  max-width: 400px;
  margin: 3rem auto;
}

.secOne__svg {
  position: absolute;
  left: 0;
  z-index: -1;
}

.secOne__mypic {
  /* display: block; */
  width: 100%;
  height: auto;
  border: 15px solid var(--crl-dark);
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0 var(--clr-shadow);
}

/* .secOne__bio {
  margin: 0 1rem;
} */

.secOne__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  /* text-shadow: 2px 2px 4px var(--clr-shadow); */
  text-align: center;
}

.secOne__subtitle {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.secOne__p {
  font-weight: var(--fw-normal);
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 1rem;
}

/******************/
/*  SECTION TWO   */
/******************/
.secTwo {
  margin-top: 2rem;
  color: var(--crl-dark);
  background: var(--crl-primary);
}

.secTwo__education {
  margin: 0 1rem;
  padding: 2rem 0;
}

.secTwo__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  /* text-shadow: 2px 2px 4px var(--clr-shadow); */
  text-align: center;
  /* padding: 2rem 0; */
}

.card--education {
  margin: 3rem auto 1rem auto;
  padding-bottom: 1rem;
}

.secTwo__subtitle {
  color: var(--crl-primary);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  text-align: center;
}

.secTwo__box {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.secTwo__box--img {
  width: 20%;
  display: inline-block;
  padding-left: 0.5rem;
}

.secTwo__icon {
  width: 100%;
  display: inline-block;
  vertical-align: unset;
}

.secTwo__box--info {
  width: 70%;
  display: inline-block;
  margin: 0;
  padding-left: 0.5rem;
  vertical-align: top;
}

.secTwo__subject {
  font-weight: var(--fw-bold);
}

.secTwo__place a {
  text-decoration: none;
}

/*****************/
/* SECTION THREE */
/*****************/

.secThree {
  color: var(--crl-primary);
  background: var(--crl-dark);
}

.secThree__experience {
  margin: 0 1rem;
  padding: 2rem 0;
}

.secThree__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  /* text-shadow: 2px 2px 4px var(--clr-shadow); */
  text-align: center;
  /* padding-top: 2rem; */
}

.card--experience {
  margin: 3rem 1rem 1rem auto;
  padding-bottom: 1rem;
  color: var(--crl-dark);
}

.secThree__subtitle {
  color: var(--crl-primary);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  text-align: center;
}

.secThree__box {
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.secThree__box--info {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.secThree__subject {
  font-weight: var(--fw-bold);
}

.secThree__period {
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.secThree__description {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.secThree__box--skill {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
  vertical-align: top;
}

.secThree__box--bar {
  display: inline-block;
  width: 45%;
}

/****************/
/* SECTION FOUR */
/****************/

.secFour {
  color: var(--crl-dark);
  background: var(--crl-primary);
  padding-bottom: 2rem;
}

.secFour__portfolio {
  margin: 0 1rem;
}

.secFour__flex {
  display: flex;
  width: 100%;
}

.secFour__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  /* text-shadow: 1px 1px 5px var(--clr-shadow); */
  text-align: center;
  padding-top: 2rem;
}

.secFour__card {
  margin-top: 3rem;
  padding: 0;
}

/* .row {
  display: inline-flex;
  width: 100%;
} */

.card {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-header {
  color: var(--clr-light);
  margin: -30px auto 0 auto;
  width: 90%;
  border: 0;
  background: linear-gradient(45deg, var(--crl-dark), #00aaff);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px 0;
}

.card-body__img {
  display: inline-flex;
  max-width: 100%;
  height: auto;
}

.card-body__img--img {
  display: inline-flex;
  max-width: 100%;
  /* height: 100%; */
}

.card-body__description {
  margin: 1rem;
}
.card-body__description p {
  margin-bottom: 1rem;
}

.card-body__link {
  display: flex;
  margin: 1rem auto;
}

.extra-margin {
  margin-top: 2rem;
}

.card-body__link a {
  background: var(--crl-dark);
  color: var(--crl-primary);
  margin: 0 auto;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/**********/
/* FOOTER */
/**********/
footer {
  background: var(--clr-light);
  color: var(--crl-dark);
}

.footer__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  /* text-shadow: 1px 1px 5px var(--clr-shadow); */
  text-align: center;
  padding-top: 2rem;
}

.footer__quote {
  font-size: 1rem;
  font-weight: var(--fw-normal);
  position: relative;
  text-align: center;
  margin-top: 0.5rem;
}

.footer__container {
  margin: 0.5rem auto 1rem auto;
  font-size: 1.2rem;
  position: relative;
  /* max-width: 95%; */
}

.footer__container::before {
  position: absolute;
  content: "";
  background: var(--clr-shadow);
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.footer__container::after {
  position: absolute;
  content: "";
  background: var(--clr-shadow);
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
}
.footer__info i {
  font-size: 2rem;
}

.footer__info a {
  padding-left: 1rem;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .head {
    height: 100vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card--experience {
    margin: 3rem auto 1rem auto;
  }
  .secFour__card {
    margin: 3rem auto 0 auto;
  }
  .extra-margin {
    margin-top: 3rem;
  }

  .secOne__title {
    margin-top: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 80%;
  }
  .extra-margin {
    margin-top: 1rem;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-expand-lg {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    margin-right: 0.75rem;
    z-index: 2;
    flex-direction: column;
  }

  .navbar-nav {
    position: relative;
    list-style: none;
    flex-direction: column;
  }

  .nav-item a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: var(--crl-primary);
    background: var(--crl-dark);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: var(--fw-normal);
    width: 100px;
    padding: 30px 0;
    text-align: center;
    line-height: 100%;
  }

  .nav-link.active {
    font-weight: var(--fw-bold);
    background: var(--clr-shadow);
    color: var(--crl-dark);
  }

  .sticky-top {
    width: unset;
  }

  .navbar-light .navbar-nav .nav-link {
    color: var(--crl-primary);
  }

  nav {
    position: relative;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .head {
    height: 100vh;
  }
  .secOne {
    padding-top: 3rem;
  }
  .extra-margin {
    margin-top: 2rem;
  }
}
